<a href="https://colab.research.google.com/github/Chethan-L-07/Dummy/blob/main/Lists%26tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
#Lists

list = ["Apple","orange","bananaa"]
list.append("chethan")
print(list)
print("\n")

list.pop(3)
print(f"Updated list is : ",list)
print("\n")

list.insert(1,"grapes")
print(list)
print("\n")

list.remove("Apple")
print(list)

list.insert(3,"apple")
print(fruit)

['Apple', 'orange', 'bananaa', 'chethan']


Updated list is :  ['Apple', 'orange', 'bananaa']


['Apple', 'grapes', 'orange', 'bananaa']


['grapes', 'orange', 'bananaa']
{'chethan', 19, 60, 'vinay'}

In [36]:
#Tuples

# fruit =  {"chethan",19,60}
print(fruit)
fruit.add("vinay")
print(fruit)

{'chethan', 19, 60, 'vinay'}
{'chethan', 19, 60, 'vinay'}